$color-primary-1: #001a72;

$color-black-1: #000000;
$color-black-2: #2B2B2B;
$color-black-3: #3C3C43;

$color-white-1: #ffffff;
$color-white-2: #f0f0f0;

$color-grey-1: #8B8B8B;

$color-red-1: #FF4040;
$color-red-2: #c53636;

$color-purple-1: #6332C4;
$color-purple-2: #4f25a3;

$color-yellow-1: #FFB600;
$color-yellow-2: #d7a016;

$color-darkblue-1: #07064D;